/* Geral
*/

body {
  background: #fff;
  /* Old yellow gradient: http://colorzilla.com/gradient-editor/#f9ed3e+0,ffffff+20,ffffff+100 */
}

a {
    color: #222;
    border-bottom: 1px solid #222;
}

a:hover,
a:focus {
    color: #444;
    border-bottom-style: dashed;
}

/* Menu
*/

.header {
    font-family: "Abel", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    line-height: 1;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}


#logo {
    font-size: 1.25rem;
    line-height: 1;
    display: inline-block;
    text-align: center;
}

#logo a {
    width: auto;
    margin-top: 0rem;
    border-bottom: 0;
}

#logo a span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0.15rem 0 0;
    margin: 0.15rem 0.1rem 0.15rem 0;
}

#logo span::before {
    content: "=";
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.1rem;
    padding-bottom: 0.25rem;
    margin-right: 0.1rem;
}

#logo span.first::before { display: none; }


#logo a span.first {
    padding-left: 0rem; 
    padding-bottom: 0.25rem;
}

#logo a span.last {
    margin-right: 1rem;
}

.mymenu,
.mysubmenu {
    margin: 0;
    list-style-type: none;
}

.mymenu li,
.mysubmenu li {
    display: block;
    line-height: 1;
    margin-bottom: 0.2rem;
}

.mymenu li > span {
    display: inline-block;
    padding: 0.25rem 0.55rem;
    border: 1px solid transparent;
}

.mymenu li a,
.mysubmenu li a {
    display: inline-block;
    padding: 0.25rem 0.55rem;
    line-height: 1;
    border: 1px solid transparent;
}

.mymenu li.active > span,
.mymenu li.active a,
.mysubmenu li.active a {
    border: 1px solid #222;
}

.mymenu li a:hover,
.mysubmenu li a:hover,
.mymenu li a:focus,
.mysubmenu li a:focus  {
    color: #222;
    border: 1px dashed #222;
}

.mysubmenu li {
    display: inline-block;
}

.mysubmenu li:first-child a { margin-left: 0; }


/* Main
*/

.main {
    padding-bottom: 2rem;
}

.main hr {
    display: none;
}

  #noticias hr { display: block; }

.main ul {
    margin-bottom: 1rem;
    margin-left: 0;
}

.main ul li::before {
    content: '— ';
    display: inline-block;
    padding-right: 0.45rem;
}

.main ul li {
    list-style-type: none;
    margin-bottom: 0.45rem;
}

.main h2 {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

  .main > h2:first-child { margin-top: 0; }
  #noticias h2 { margin-bottom:  0.5rem; }

.main h3 {
    font-size: 1.65rem;
    text-transform: uppercase;
    margin-top: 2rem;
    border-bottom: 1px solid #cacaca;
}

.main h4 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #cacaca;
    margin-top: 1.45rem;
}

.main h2 + p strong {
    font-family: "PropCourierSans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    letter-spacing: 1px;
    margin-top: 0;
    border: 1px solid #333;
    padding: 0.1rem 0.35rem;
}

  #noticias h2 + p strong {
    font-size: 90%;
    border-color: #333;
    padding: 0.1rem 0.2rem;
  }

a.footnote-backref,
sup a {
    border-bottom: 0;
}

.main pre code {
    font-family: "Tienne", Georgia, Times, serif !important;
    font-size: 1rem !important;
    line-height: 1.6 !important;
    background-color: transparent;
    color: #333;
    border: 0;
}


/* Footer
*/

.footer ul {
    font-family: "Abel", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    line-height: 1;
    list-style-type: none;
    margin: 1rem 0;
}

.footer li {
    display: inline-block;
}

/* Media Queries
*/

@media screen and (max-width: 39.9375em) { /* Small only */
  #logo {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) { /* Medium only */
}

